.contenedor{
    display: grid;
    border: 2px solid grey;
    grid-template-columns: 20% 20% 50% auto;
    gap: 10px;
    height: 500px;
    padding: 15px;
}
.contenedor div{
    border: 2px solid yellow}